*{
    margin: 0;
    padding: 0;
}

.nav ul{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    margin: 20px;
    padding: 10px;
}

.link{
    text-decoration: none;
    color:black;
    font-size: 1em;
}
.part1{
    background: black;
    color: white;
    text-align: center;
    font-weight: 200;
    padding: 50px 30px;
}



.nav ul li{
    margin: 0 20px;
}

h1{
    font-size: 4em;
}

h2{
    font-size: 2.5em;
}

h5{
    font-size: 0.5em;
}
.cartoon{
    color: white;
    text-align: center;
    padding: 50px 20px;
}

#tomjerry{
    background: orange;
}
   
#doremon{
    background: orchid;
}
#pokemon{
    background: deepskyblue;
}


    
   

